---
permalink: /index.html
title: Rob Wood Developer Portfolio
eleventyImport:
  collections: ["icons", "sections"]
---
{% extends "src/html/layout/default.html" %}
{% import "src/html/include/page-components/content.html" as components %}

{% block body %}

{% for item in collections.sections %}
{{ components.contentSection(item.data.id, item.templateContent) }}
{% endfor %}
{% endblock body %}

{% block scripts %}
<script>
  $(document).ready(() => {
    $('.btn').on('click', (e) => {
      e.preventDefault()
    })
  })
</script>
{% endblock scripts %}
