/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
:root {
  /* EXAMPLE:
    --image-size: 45rem;
    --center-top: calc(42% - var(--image-size) * .5);
    FORMULA:
      6.5vh + 1500vh / x + 4vh * exp(-0.1vh * (x - 80vh))

    •	If you want everything higher → adjust --param2
    •	If you want early --img-size higher → adjust --param1
    •	If you want the rise near --img-size=100 higher → --param3

    FORMULA:
    51 + 90 / x + var(--image-width-nu) * exp(-0.08 * var(--image-width-nu))

    •	param4a → baseline shift.
    •	param3a → controls steepness of early drop.
    •	param2a and param1a → fine-tunes smoothing through mid---img-size.
  */
  /* 50@100,45@90,40@80,35@70,29.5@60,24@50,18.5@40,12.5@30,5.5@20,-5@10 */

  /* 50@100 45@90 40@80 35@70 29@60 24@50 19@40 13@30 6@20 -5@10  */
  --img-size: 15;

  --param1: 300;
  --param2: 4.75;
  --param3: 4.025;
  --param1a: 0.08;
  --param2a: 4;
  --param3a: 90;
  --param4a: 1.65; /* 24@50, 19@40,  9.5@25, 37@75  */

  --image-size: calc(1vh * var(--img-size));
  --sum0: calc(var(--img-size) - 80);
  --sum1: calc(0.1 * var(--sum0));
  --sum2: exp(var(--sum1));
  --sum4: calc(var(--param3)* exp(var(--sum1)));
  --sum5: calc(var(--img-size) + var(--sum4));
  --sum6: calc(var(--param1) / var(--sum5));
  --sum7: calc(var(--param2) + var(--sum6));
  --center-top: calc(1vh * var(--sum7));

  --sum0a: calc(var(--param1a) * var(--img-size));
  --sum0b: exp(var(--sum0a));
  --sum1a: calc(var(--param2a) / var(--sum0b));
  --sum2a: calc(var(--param3a) / var(--img-size));
  --sum3a: calc(var(--sum1a) + var(--sum2a));
  --sum4a: calc(var(--param4a) + var(--sum3a));
  --adjustment-offset: calc(1vh * var(--sum4a));

  --right-col-extra: calc(var(--image-size) * .55);
  --center-common: 1.5vh;
  --center-offset: calc(var(--image-size) * .1);
  --right-col-offset: calc(var(--adjustment-offset) * -2);
  --animation-half: calc(var(--image-size) * .95);

  --border-color: #1c2737;
}

#about {

  .primary-heading {

    .small.raise {
      letter-spacing: 2px;
    }
  }

  .section-heading-alt {
    width: 26.35ch;
    text-align: center;
    margin-bottom: 1lh;
    .primary-heading {
      .large {
        font-size: var(--xx-large);
        letter-spacing: -2px;
      }
      .small {
        font-size: var(--xx-large);
        letter-spacing: 4px;
      }
    }
  }

  .actions {
    margin-bottom: 3lh;
  }

  .about-story {
    max-width: fit-content;
    margin: auto;

    h2.primary-heading,
    .subtitle,
    .subtitle2 {
      margin-left: 0;
      padding-left: 0;
    }

    h3:not(.accord-title) {
      margin: 1lh auto 0.5lh auto;
      line-height: 1.25cap;
    }

    .subtitle {
      font-family: var(--text-font-alt);
      font-size: var(--mdeium);
      font-weight: 500;
      margin: 1em 0;
      line-height: 0.9;
    }

    .subtitle2 {
      font-size: var(--xx-small);
      font-family: var(--heading-font-alt);
      font-weight: 200;
      font-style: italic;
      color: color-mix(in oklch, var(--accent), white 60%);
      margin: 0;
      line-height: 1.1;
      letter-spacing: -1px;
    }

  }

  .profile-image {
    .profile-image-container {
      text-align: center;
      max-width: 200px;
      margin: 3lh auto;
      margin-top: 1lh;
    }

    img {
      width: 100%;
      max-width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 12px;
      filter: grayscale(20%);
      transition: filter 0.3s ease;

      &:hover {
        filter: grayscale(0%);
      }
    }

    .profile-meta {
      .location {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        color: color-mix(in srgb, var(--text-color), transparent 20%);
        svg {
          width: 16px;
          height: 16px;
          margin-right: 5px;
          color: var(--accent);
        }
      }

      .status {
        display: flex;
        align-items: center;
        /* font-size:var(--step--1); */
        color: color-mix(in srgb, var(--text-color), transparent 20%);

        span {
          width: 90%;
          line-height: 1.2;
        }

        .status-indicator {
          width: 12px;
          height: 12px;
          background-color: color-mix(in oklch, var(--accent), black 5%);
          border-radius: 50%;
          margin-right: 0.5rem;
          animation: pulse 2s infinite;

        }
      }
    }
  }

  .expertise-grid {
    margin-top: 3lh;
    margin-bottom: 3lh;

    .expertise-grid.copy-wrapper h3 {
      font-size: var(--x-large);
    }

    .expertise-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 1.5rem;

      .expertise-icon {
        flex-shrink: 0;
        width: 48px;
        height: 48px;
        background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1.5rem;
        svg {
          color: var(--accent);
          width: 24px;
          height: 24px;
        }
      }

      .expertise-content {
        h4 {
          /* font-size: var(--step-0); */
          font-family: var(--heading-font);
          font-weight: 700;
          margin-bottom: 0.1rem;
          color: var(--text-color);
          letter-spacing: 1px;
          text-decoration: underline;
          text-underline-offset: 3px;
        }

        p {
          font-size:var(--step-0);
          line-height: 1.1;
          color: color-mix(in srgb, var(--text-color), transparent 30%);
          margin: 0;
        }
      }
    }
  }

  .philosophy-quote {
    position: relative;
    padding: 2lh 3ch 0 0;
    margin-top: 3lh;

    .quote-mark {
      position: absolute;
      top: -10px;
      left: 0;
      font-size:var(--xxxx-large);
      font-weight: 300;
      color: color-mix(in srgb, var(--accent-color), transparent 20%);
      line-height: 1;
    }

    p {
      font-size: var(--medium);
      max-width: 660px;
      letter-spacing: 0;
      line-height: 1.3;
      font-style: italic;
      font-weight: 300;
      color: color-mix(in oklch, var(--accent), white 75%);
      margin: 0;
      position: relative;
      top: -3.5lh;
      left: 2ch;
      z-index: 1;
      b {
        font-weight: 500;
      }
    }
  }

  .about-image {
    position: relative;

    .image-wrapper {
      position: relative;
      max-width: 250px;
      margin: 0 auto;
      margin-bottom: 2em;
      filter: drop-shadow(4px 2px 12px color-mix(in oklch, var(--info), transparent 50%));
    }

    .main-image {
      border-radius: 12px;
      box-shadow: 3px 3px 6px 0px #CCDBE8 inset, -3px -3px 6px 1px rgba(255,255,255,0.5) inset;
      clip-path: polygon(0 10%, 60% 10%, 60% 0%, 100% 50%, 60% 100%, 60% 90%, 0 90%);
      width: 200px;
      margin: auto;

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  .about-img-2 {
    margin: 2lh auto;
    margin-top :0;
    position: relative;
    display: flex;
    gap: 3ch;
    align-items: flex-start;
    height: fit-content;
    p {
      padding: .25em;
      margin: 0 0 1em;
    }
  }

  .collab-text {
    padding: 0 2ch;
    h3 {
      margin-bottom: 1lh;
      line-height: 1;
      text-align: left;
    }
  }

  .column.left,
  .column.right {
    box-sizing: border-box;
    text-align: justify;
    width: calc(50% + var(--right-col-extra));
    height: fit-content;
  }
  .column.left:before,
  .column.right:before {
    float: right;
    content: " ";
    margin-top: 4.5lh;
  }
  .column.right:before {
    float: left;
  }

  .center-float {
    box-sizing: border-box;
    float: right;
    clear: right;
    margin: 0 0 var(--center-common) var(--center-common);
    border-radius: 50%;
    border: 3px solid var(--primary-dark);
    box-shadow: var(--surface-inset-shadow), rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    shape-outside: circle(50%);
    animation: fadeIn 1.5s forwards;
    animation-timing-function: cubic-bezier(.93,.57,.1,.4);
    width: calc(var(--image-size) * .3);
    height: var(--image-size);
    opacity: 0;
  }
  img.center-float {
    filter: sepia(0.25) grayscale(0.35) brightness(1.1);
  }
  .column.right .center-float {
    float: left;
    margin: 0 var(--center-common) var(--center-common) 0;
    clear: left;
  }
  .column.left .adjustment {
    margin-right: var(--adjustment-offset);
    /* margin-top: 6lh; */
  }
  .column.right .adjustment {
    margin-left: var(--adjustment-offset);
    /* margin-top: 6lh; */
  }
  .column.right {
    margin-left: var(--right-col-offset);
  }

  @keyframes fadeIn {
    50% {
      width: calc(var(--image-size) - var(--image-size) * .1);
      opacity: 0;
    }
    100% {
      opacity: 1;
      width: var(--image-size);
    }
  }

  @media screen and (max-width: 400px) {
    .column.left,
    .column.right {
      text-align: left;
    }
  }


}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
