/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/

.services {
  flex-direction: column;
  align-items: center;

  .copy-block {
    margin-bottom: 4lh;
  }

  .service-item {
    padding: 2lh 0;
    height: 100%;
    border-radius: 8px;
    transition: all 0.4s ease;
    position: relative;

    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 20px 60px color-mix(in srgb, var(--text-color), transparent 90%);
      .service-icon {
        background: var(--accent-color);
        svg {
          color: var(--contrast-color);
          transform: scale(1.1);
        }
      }
    }
  }

  .col-lg-6 {
    padding: 0 2ch;
  }

  .service-item {
    padding: 1lh 2ch;
    margin: 1lh 1ch;

    .service-heading {
      display: flex;
      gap: 3ch;
      align-items: center;
      margin-top: 4lh;
      margin-bottom: 2lh;

      a {
        color: var(--heading-color);
        text-decoration: none;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          color: var(--accent-color);
        }
      }

      .service-icon {
        width: 80px;
        height: 80px;
        background: color-mix(in srgb, var(--accent-color), transparent 90%);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;

        svg {
         height: 48px;
         width: 48px;
         color: color-mix(in oklch, var(--accent), transparent 30%);
        }
      }
    }

    .service-content {
      h3 {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 20px;
        line-height: 1.3;
      }
      p {
        font-size: 16px;
        line-height: 1.7;
        color: color-mix(in srgb, var(--text-color), transparent 20%);
        margin-bottom: 0.5lh;
      }

      .learn-more {
        display: flex;
        width: fit-content;
        margin-left: auto;
        margin-right: 2ch;
        align-items: center;
        gap: 8px;
        color: var(--accent-color);
        font-family: var(--text-font-alt);
        text-decoration: none;
        font-weight: 500;
        font-size: var(--large);
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: all 0.3s ease;
        height: 1lh;

        svg {
          position: relative;
          top: -4px;
          padding-right: 0.5ch;
        }

        &:hover {
          color: var(--heading-color);
          transform: translateX(4px);
        }
      }
    }
  }

  .section-heading-alt {
    width: 24.35ch;
    .primary-heading {
      .large {
        font-size: var(--xx-large);
        letter-spacing: 0;
      }
      .small {
        letter-spacing: 16px;
      }
    }
  }
}
