details.accord-item>summary {
  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }
}

.accord {
  list-style: none;
  padding: 0;
  margin: 1lh auto;
  margin-top: 0.25em;
  counter-reset: item-counter;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  details.accord-item {
    interpolate-size: allow-keywords;
    overflow: hidden;
    transition: content-visibility 0.33s allow-discrete, opacity 0.33s, block-size 0.33s;
    margin: 0;
    padding: 0.5lh 1ch;
    padding-bottom: 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 2px 4px 0px inset;
    border: 1px solid color-mix(in oklch, var(--subtle), transparent 90%);
    background: transparent;
    backdrop-filter: blur(10px);
    max-width: 65ch;

    &::details-content {
      opacity: 0;
      block-size: 0;
      overflow-y: clip;
      transition: content-visibility 0.33s allow-discrete, opacity 0.33s, block-size 0.33s;
    }

    &.active {
      .accord-arrow {
        transform: rotate(180deg);
      }
    }

    &[open] {
      height: auto;
      &::details-content {
        opacity: 1;
        block-size: auto;
      }
    }
    &[open],
    &:hover {
      /*transform: translateY(-2px);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;*/
      color: var(--info);
      background: color-mix(in oklch, var(--dark), transparent 60%);

      .accord-header {
        .accord-header-inner {

          .accord-icon {
            color: var(--info);
          }

          .accord-subtitle {
            color: var(--info);
          }
        }
      }
    }

    .accord-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      border: none;
      background: none;
      cursor: pointer;
      text-align: left;
      color: inherit;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .accord-header {
      padding: 0.25lh 0.5ch 0 0.5ch;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-radius: 0.5em;
      cursor: pointers;

      .arrow-wrap {
        width: 4ch;
        height: 5.5em;
        display: flex;
        border-radius: 0.5em;
        align-items: center;
        justify-content: center;
      }

      .accord-arrow {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        transition: transform 0.3s ease;

        svg {
          width: 100%;
          height: 100%;
          fill: none;
          stroke: currentColor;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
      }

      .accord-header-inner {
        padding: 0;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-right: 0.5rem;
        margin-bottom: 0.75lh;

        .accord-icon {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          box-shadow: inset 3px 3px 2px -1px rgba(21,31,43,0.42),
            inset -3px -3px 2px -1px rgba(75,96,127,0.22);
          background: var(--primary);
          color: var(--accent);
        }

        .accord-title {
          font-family: var(--text-font-alt);
          font-size: var(--xx-large);
          font-weight: 300;
          margin: 0;
          line-height: 1.2;
        }

        .accord-subtitle {
          /* font-size: var(--step--2); */
          color: var(--subtle);
          margin: 0;
          line-height: 1;
        }

        .more-btn {
          counter-increment: item-counter;
          position: relative;
          .accord-title::after {
            content: counter(item-counter);
            color: var(--accent);
            height: 100%;
            font-weight: bold;
            /* font-size: var(--step-0); */
            margin-right: 0.5em;
            line-height: 1;
            padding-left: 0.5rem;
          }
        }

        .accord-content {
          overflow: hidden;
          transition: max-height 0.3s ease-in-out;
          padding: 0;
        }
      }
    }


    .alert-list {
      list-style: none;
      padding: 0;

      .alert-item {
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        padding: 1lh 1ch;
        border-radius: 8px;
        margin: 0.5lh 0.5ch;
        background-color: var(--primary);
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: inset 3px 3px 2px -1px rgba(21,31,43,0.42),
          inset -3px -3px 2px -1px rgba(75,96,127,0.22);
        &:last-child {
          margin-bottom: 0;
        }

        .alert-icon {
          width: 48px;
          height: 48px;
          border-radius: 6px;
          margin-right: 0.75rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          box-shadow: inset 3px 3px 2px -1px rgba(21,31,43,0.42),
            inset -3px -3px 2px -1px rgba(75,96,127,0.22);
        }


        .alert-content {
          flex: 1;


          .alert-title {
            font-family: var(--heading-font);
            /* font-size: var(--step--1); */
            font-weight: 500;
            margin-bottom: 0.5lh;
          }

          .alert-message {
            /* font-size: var(--step--2); */
            color: var(--subtle);
            margin-bottom: 0;
          }
        }
      }
    }

  }
}


details.accord-item[open] .accord-button,
.accord-button:hover {
  .accord-header {
    /*box-shadow: inset 3px 3px 2px -1px rgba(21,31,43,0.42),
      inset -3px -3px 2px -1px rgba(75,96,127,0.22);*/
      color: var(--info);
   h3,
   h4,
   p {
    color: var(--info);
   }
  }

  .accord-icon {
    color: var(--info);
  }
  /*.arrow-wrap {
    box-shadow: inset 3px 3px 2px -1px rgba(21,31,43,0.42),
      inset -3px -3px 2px -1px rgba(75,96,127,0.22);
    background: color-mix(in oklch, var(--dark), transparent 60%);
  }*/
}


