details.accord-item>summary {
  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }
}

.accord {
  list-style: none;
  padding: 0;
  margin: 1lh auto;
  margin-top: 0.25em;
  counter-reset: item-counter;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  details.accord-item {
    overflow: hidden;
    transition: var(--content-transition);
    margin: 0;
    padding: 0.5lh 0.5ch;
    padding-bottom: 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--surface-inset-shadow);
    border: var(--border-1-subtle-trans-90);
    background: transparent;
    backdrop-filter: blur(10px);
    max-width: 65ch;

    &::details-content {
      opacity: 0;
      block-size: 0;
      overflow-y: clip;
      transition: var(--content-transition);
    }

    &.active {
      .accord-arrow {
        transform: rotate(180deg);
      }
    }

    &[open] {
      height: auto;
      &::details-content {
        opacity: 1;
        block-size: auto;
      }
    }

    &[open] {
      .accord-header {
        .accord-header-inner {
          .accord-title {
            svg {
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    &[open],
    &:hover,
    &:has(summary:focus-visible) {
      outline: 2px solid var(--accent);
      background: color-mix(in oklch, var(--primary), black 5%);
    }

    .accord-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0.25lh 0.5ch;
      border: none;
      background: none;
      cursor: pointer;
      text-align: left;
      color: inherit;
      transition: var(--cubic-transition);
      &:focus,
      &focus-visible {
        outline: none;
      }
    }

    .accord-header {
      padding: 0.25lh 0.25ch 0 0.25ch;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-radius: 0.5em;
      cursor: pointers;

      .accord-header-inner {
        padding: 0;
        display: flex;
        align-items: center;
        gap: 0.5ch;
        margin-bottom: 0.75lh;

        .accord-icon {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 2ch;
          flex-shrink: 0;
          box-shadow: var(--surface-inset-shadow);
          background: var(--primary);
          color: var(--accent-trans-20);
        }

        .accord-title {
          font-family: var(--font-6);
          font-size: var(--x-large);
          font-weight: 500;
          margin: 0;
          line-height: 1.2;
          letter-spacing: 0;
          display:flex;
          justify-content: space-between;
          svg {
            width: 32px;
            height: 32px;
            color: var(--accent);
            transition: var(--cubic-transition);
          }
        }

        .accord-subtitle {
          color: var(--subtle);
          line-height: 1;
        }

        .more-btn {
          counter-increment: item-counter;
          position: relative;
          .accord-title::after {
            content: counter(item-counter);
            color: var(--accent);
            height: 100%;
            font-weight: bold;
            margin-right: 0.5em;
            line-height: 1;
            padding-left: 0.5rem;
          }
        }

        .accord-content {
          overflow: hidden;
          transition: var(--details-inner-transition);
          padding: 0;
        }
      }
    }


    .alert-list {
      list-style: none;
      padding: 0;

      .alert-item {
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        padding: 1lh 1ch;
        border-radius: 8px;
        margin: 0.5lh 0.5ch;
        background-color: var(--surface-black-5);
        transition: var(--cubic-transition);
        box-shadow: var(--surface-inset-shadow);
        &:focus,
        &:focus-visible {
          outline: none;
        }
        &:last-child {
          margin-bottom: 0;
        }

        .alert-icon {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 6px;
          margin-right: 2ch;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          box-shadow: var(--surface-inset-shadow);
        }


        .alert-content {
          flex: 1;


          .alert-title {
            font-family: var(--heading-font);
            /* font-size: var(--step--1); */
            font-weight: 500;
            margin-bottom: 0.5lh;
          }

          .alert-message {
            /* font-size: var(--step--2); */
            color: var(--subtle);
            margin-bottom: 0;
          }
        }
      }
    }

  }
}
