

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

.header-toggle-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;

  .header-toggle {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 9px;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 999999999;
    transition: var(--transform-colors-transition);
    background-image: linear-gradient(var(--btn-color-base, #22e7a1), color-mix(in oklch, var(--btn-color-base, #22e7a1), black 15%) );
    color: var(--btn-text-color, #1c2737);

    --line-1: 60 207;
    --line-2: 60 60;
    --line-3: 60 207;
    --line-1o: 0 0;
    --line-2o: 0 0;
    --line-3o: 0 0;

    &:hover {
      z-index: 10000000002;
      color: var(--btn-text-hover-color, #1c2737);
      background-image: linear-gradient(var(--btn-hover-color-base, #6bb7ff), color-mix(in oklch, var(--btn-hover-color-base, #6bb7ff), black 15%) );
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 4px 16px rgba(0, 0, 0, 0.5);
      &:after,
      &:before {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), color-mix(in oklch, var(--btn-hover-color-base, #6bb7ff), white 45%), rgba(0, 0, 0, 0.25));
      }
    }

    svg {
      pointer-events: none;
    }

    &.opened {
      --line-1: 90 207;
      --line-2: 1 60;
      --line-3: 90 207;
      --line-1o: -134;
      --line-2o: -30;
      --line-3o: -134;
    }
  }
}

.actions {
  font-size: var(--medium);
  padding: 2ch;

  a {
    width: 100%;
    text-align: center;
    margin: 1lh auto;
  }

  .btn {
    font-family: var(--font-4);
    font-size: var(--x-large);
    font-weight: 800;

    svg {
      position: relative;
      width: 24px;
      height: 24px;
    }

    &.btn-primary {
      --btn-color-base: var(--accent-2);
      --btn-hover-base: var(--accent);
      --btn-text-color: var(--contrast-color);
      --btn-text-hover-color: var(--contrast-color);
      background-image: linear-gradient(var(--btn-color-base, #22e7a1), color-mix(in oklch, var(--btn-color-base, #22e7a1), black 15%) );
      color: var(--btn-text-color, #1c2737);

      &:hover {
        z-index: 10000000002;
        color: var(--btn-text-hover-color, #1c2737);
        background-image: linear-gradient(var(--btn-hover-color-base, #6bb7ff), color-mix(in oklch, var(--btn-hover-color-base, #6bb7ff), black 15%) );
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 4px 16px rgba(0, 0, 0, 0.5);
        &:after,
        &:before {
          background-image: linear-gradient(rgba(0, 0, 0, 0.25), color-mix(in oklch, var(--btn-hover-color-base, #6bb7ff), white 45%), rgba(0, 0, 0, 0.25));
        }
      }

      &:active {
        z-index: 10000000003;
        cursor: default;
        border-radius: 4px;
        color: var(--btn-hover-color-base, #6bb7ff);
        background-image: linear-gradient(#293443, #181e27);
        border-top-color: rgba(0, 0, 0, 0);
        border-left-color: rgba(0, 0, 0, 0.55);
        border-right-color: rgba(0, 0, 0, 0.55);
        box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.5), 0 10px 20px rgba(255, 255, 255, 0.06);

        &:after,
        &:before {
          background-image: linear-gradient(rgba(0, 0, 0, 0.25), color-mix(in oklch, var(--btn-hover-color-base, #6bb7ff), white 45%), rgba(0, 0, 0, 0.25));
        }
      }

      svg {
        top: 1px;
      }
    }

    &.btn-secondary {
      --btn-color-base: var(--primary-dark);
      --btn-hover-base: var(--surface);
      --btn-text-color: var(--heading-color);
      --btn-text-hover-color: var(--contrast-color);
      background-image: linear-gradient(var(--btn-color-base, #22e7a1), color-mix(in oklch, var(--btn-color-base, #22e7a1), black 15%) );
      color: var(--btn-text-color, #1c2737);

      &:hover {
        z-index: 10000000002;
        color: var(--btn-text-hover-color, #1c2737);
        background-image: linear-gradient(var(--btn-hover-color-base, #6bb7ff), color-mix(in oklch, var(--btn-hover-color-base, #6bb7ff), black 15%) );
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 4px 16px rgba(0, 0, 0, 0.5);
        &:after,
        &:before {
          background-image: linear-gradient(rgba(0, 0, 0, 0.25), color-mix(in oklch, var(--btn-hover-color-base, #6bb7ff), white 45%), rgba(0, 0, 0, 0.25));
        }
      }

      &:active {
        z-index: 10000000003;
        cursor: default;
        border-radius: 4px;
        color: var(--btn-hover-color-base, #6bb7ff);
        background-image: linear-gradient(#293443, #181e27);
        border-top-color: rgba(0, 0, 0, 0);
        border-left-color: rgba(0, 0, 0, 0.55);
        border-right-color: rgba(0, 0, 0, 0.55);
        box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.5), 0 10px 20px rgba(255, 255, 255, 0.06);

        &:after,
        &:before {
          background-image: linear-gradient(rgba(0, 0, 0, 0.25), color-mix(in oklch, var(--btn-hover-color-base, #6bb7ff), white 45%), rgba(0, 0, 0, 0.25));
        }
      }

      svg {
        width: 16px;
        height: 16px;
        top: -1px;
      }
    }

    &[type="submit"] {
      min-width: 18ch;
      width: 33%;
    }
  }
}

.btn-3d {
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
  border-left: 1px solid rgba(255, 255, 255, 0.05) !important;
  border-radius: 2px;
  border-right: 1px solid rgba(255, 255, 255, 0.05) !important;
  border-top: 1px solid rgba(255, 255, 255, 0.05) !important;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 3px 6px 9px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  gap: 1ch;
  height: 3lh;
  justify-content: center;
  line-height: 1cap;
  margin-bottom: 1lh;
  max-width: 25ch;
  padding: 1lh 1ch 0.75lh 1ch;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  transition: var(--transform-colors-transition);
  z-index: 10000000001;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    top: 0;
    width: 2px;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), color-mix(in oklch, var(--btn-color-base), transparent 60%), rgba(0, 0, 0, 0.25));
  }

  &:before {
    left: -4px;
  }

  &:after {
    right: -4px;
  }

  &:focus-visible {
    outline: var(--focus-ring);
  }
}
