details.read-more>summary {
  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }
  display: block;;
}


details.read-more {
  background: var(--surface-black-5);
  border-radius: 4px;
  counter-reset: item-counter;
  display: grid;
  overflow-y: visible;
  gap: 10px;
  list-style: none;
  max-width: 100%;
  margin: 1lh auto 1lh 0;
  position: relative;
  top: 0.5lh;
  width: 100%;
  transition: var(--content-transition);
  box-shadow: var(--surface-inset-shadow);

  &::details-content {
    opacity: 0;
    block-size: 0;
    overflow-y: clip;
    transition: var(--content-transition);
    margin: 1lh 1ch 0.5lh 1ch;
  }

  .copy-wrapper {
    overflow: hidden;
    transition: var(--details-inner-transition);
    padding: 1lh 1ch;
  }

  summary:hover {
    background: var(--accent);
    color: var(--contrast-color);
    svg {
      color: var(--contrast-color);
    }
  }

  &:has(summary:focus-visible) {
    border: none;
    summary {
      outline: var(--focus-ring);
    }
  }

  &[open] {
    height: auto;
    &::details-content {
      opacity: 1;
      block-size: auto;
    }
    summary {
      /* border: 1px solid var(--text-color); */
      .open {
        display: inline !important;
      }

      .closed {
        display: none !important;
      }

      svg {
        transform: rotate(180deg);
      }
    }
  }

  summary {
    list-style: none;
    border-radius: 4px;
    height: 2lh;
    padding: 1lh 1ch 1lh 1ch;
    position: absolute;
    font-weight: 600;
    top: -0.6lh;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 2ch;
    background: var(--surface-black-5);
    box-shadow: var(--surface-inset-shadow);
    transition: var(--cubic-transition);

    &::-webkit-details-marker {
      display: none;
    }

    .open {
      display: none !important;
    }

    .closed {
      display: inline !important;
    }

    svg {
      width: 16px;
      height: 16px;
      color: var(--accent-color);
      position: relative;
      top: -1px;
      transition: var(--cubic-transition);
    }
  }
}
