<!DOCTYPE html>
<html lang="en-US">

<head>

  {% include "../include/common/head/meta-info.html" %}

  {% favicons './src/img/rob-wood-icon.svg', appleIconBgColor='#ffffff' %}

  {% include "../include/common/head/fonts.html" %}

  {% include "../include/common/head/styles-1.html" %}

  {% block head %}
    <style>
      #anim {
        width: 100%;
        height: 100vh;
      }
    </style>
  {% endblock head %}

</head>

<body>

  {% block body %}
  {% endblock body %}

  {% block scripts %}
  {% endblock scripts %}

</body>

</html>
