{% macro accordion(data) %}
<div class="vs-accordion" aria-label="Signature Strengths & Strategic Competencies">
  {% for item in data %}
  <details class="vs-accordion-item" name="strengths">
    {{ accordionSummary(iconClass = item.iconClass, iconid = item.iconid, name = item.name, description = item.description)  }}
    <div class="alert-content">
      <ul class="alert-list">
      {% for impact in item.impact  %}
        {{ accordionItem(iconClass = impact.iconClass, iconid = impact.iconid, name = impact.name, description = impact.description) }}
      {% endfor  %}
      </ul>
    </div>
  </details>
  {% endfor %}
</div>
{% endmacro %}

{% macro accordionSummary(iconClass = "", iconid, name, description) %}
<summary class="vs-accordion-button">
  <div class="vs-accordion-header">
    <div class="vs-accordion-header-inner">
      <div class="vs-accordion-icon {{iconClass}}">
        {% icon iconid, '{ "width": "36", "height": "36" }' %}
      </div>
      <div class="vs-accordion-content">
        <h3 class="vs-accordion-title">{{name}}
          <svg width="36" height="36" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </h3>
        <p class="vs-accordion-subtitle">{{description}}</p>
      </div>
    </div>
  </div>
</summary>
{% endmacro %}


{% macro accordionItem(iconClass = "", iconid, name, description) %}
<li class="alert-item">
  <div class="alert-icon {{iconClass}}">
    {% icon iconid, '{ "width": "28", "height": "28" }' %}
  </div>
  <div class="alert-content">
    <h4 class="alert-title">{{name}}</h4>
    <p class="alert-message">{{description}}</p>
  </div>
</li>
{% endmacro %}
