{% macro experience(dates, position, company, bullets, tags) %}
<div class="timeline-item">
  <div class="timeline-dot"></div>
  <div class="timeline-content">
    <div class="position-meta">
      <span class="timeline-year">{{dates}}</span>
    </div>
    <h3>{{position}}</h3>
    <h4>{{company | safe}}</h4>
    <ul class="copy-wrapper">
      {% for bullet in bullets %}
      <li><p>{{bullet}}</p></li>
      {% endfor  %}
    </ul>
    <div class="tags-container">
      {% for tag in tags %}
      <span class="tag">{{tag}}</span>
      {% endfor  %}
    </div>
  </div>
</div>
{% endmacro %}
