{% macro mainHeading(line1, line2, line3, line4, line5) %}
<div class="row heading">
  <h1>
    <span class="bottom-bar block intro">
      <span class="top">{{line1}}</span>
      <span class="top var">{{line2}}</span>
    </span>
    <span class="g-text-white block">
      <span class="main">{{line3}}</span>
      <span class="tag">{{line4}}</span>
    </span>
    <span class="bottom g-text-white top-bar bottom-bar block">{{line5}}</span>
  </h1>
</div>
{% endmacro %}

{% macro pageHeading(one, two, three, four, five, xclass="raise", xclass2="") %}
<h2 class="primary-heading {{xclass2}}">
  {% if(one !== "") %}
  <span class="small top">{{one}}</span>
  {% endif %}
  {% if(two !== "") %}
  <span class="large block">{{two}}</span>
  {% endif %}
  <span class="bottom block">
    {% if(three !== "") %}
    <span class="small {{xclass}}">{{three}}</span>
    {% endif %}
    {% if(four !== "") %}
    <span class="large">{{four}}</span>
    {% endif %}
    {% if(five !== "") %}
    <span class="small {{xclass}}">{{five}}</span>
    {% endif %}
  </span>
</h2>
{% endmacro %}
