/** ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ᴠɪʀᴛᴜᴀʟSᴛʏʟᴇ.ᴜs━━
* Skills accordion
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/

@layer component {
  details.vs-accordion-item>summary {
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  .vs-accordion {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    counter-reset: item-counter;
    background: transparent;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;

    span {
      display: inline-block;
    }

    details.vs-accordion-item {
      backdrop-filter: blur(10px);
      background: transparent;
      border-radius: 2px;
      /* border: 1px solid #090e13; */
      /* border: 2px solid var(--primary-dark); */
      /* box-shadow: var(--surface-inset-shadow); */
      /* box-shadow: inset -3px -3px 4px 6px #00000022, inset 3px 3px 4px 6px #00000022, 1px 1px 5px 2px #00000022, -1px -1px 5px 2px #00000022; */
      margin: 0;
      max-width: 65ch;
      padding-bottom: 0;
      transition: var(--content-transition);

      &::details-content {
        opacity: 0;
        block-size: 0;
        overflow-y: clip;
        transition: var(--content-transition);
      }

      &.active {
        .vs-accordion-arrow {
          transform: rotate(180deg);
        }
      }

      &[open] {
        height: auto;

        &::details-content {
          opacity: 1;
          block-size: auto;
        }
      }

      &[open] {
        .vs-accordion-header {
          .vs-accordion-header-inner {
            .vs-accordion-title {
              svg {
                transform: rotate(180deg);
              }
            }
          }
        }
      }

      /* &[open],
      &:hover,
      &:focus-visible,
      &:has(summary:focus-visible),
      &:has(.vs-accordion-button:focus-visible) {
        /* outline: 1px solid var(--accent); */
        /* background: color-mix(in oklch, var(--primary), black 5%); */
      /* } */

      .vs-accordion-button {
        align-items: center;
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 0;
        text-align: left;
        transition: var(--transform-colors-transition);
        width: 100%;
        border: 1px solid #090e13;

        &:focus,
        &focus-visible {
          outline: none;
        }
      }

      .vs-accordion-header {
        align-items: center;
        cursor: pointers;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .vs-accordion-header-inner {
          display: grid;
          gap: 0.25ch;
          grid-template-columns: 25% 1fr;
          grid-template-rows: 1fr;
          padding: 0;

          .vs-accordion-icon {
            align-items: center;
            background: color-mix(in oklch, var(--surface-dark), transparent 50%);
            border: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-radius: 4px;
            border-top-right-radius: 0;
            /* box-shadow: var(--surface-inset-shadow); */
            /* box-shadow: inset -5px -4px 5px 3px #00000063; */
            color: var(--accent-trans-20);
            display: flex;
            flex-shrink: 0;
            height: 100%;
            justify-content: center;
            margin-right: 2ch;
            width: 100%;

            svg {
              width: 48px;
              height: 48px;
            }
          }

          .vs-accordion-content {
            padding: 0 1ch 1lh 1ch;
            transition: var(--details-inner-transition);

            .vs-accordion-title {
              color: var(--accent);
              display: flex;
              font-family: var(--font-4);
              font-size: var(--medium);
              font-weight: 500;
              justify-content: space-between;
              letter-spacing: 0;
              line-height: 1;
              margin: 0;
              padding: 0.5lh 0;
              text-transform: uppercase;

              @container style(--inline-size-lg: var(--breakpoint-lg)) {
                font-size: var(--large);
              }

              svg {
                color: var(--accent);
                height: 32px;
                transition: var(--transform-colors-transition);
                width: 32px;
              }
            }

            .vs-accordion-subtitle {
              color: var(--subtle);
              line-height: 1.5cap;
              margin-bottom: 0.5lh;
              margin: 0;
            }
          }

          .more-btn {
            counter-increment: item-counter;
            position: relative;

            .vs-accordion-title::after {
              color: var(--accent);
              content: counter(item-counter);
              font-weight: bold;
              height: 100%;
              line-height: 1;
              margin-right: 0.5em;
              padding-left: 0.5rem;
            }
          }
        }
      }

      .alert-list {
        list-style: none;
        margin-bottom: 0;
        padding: 0;
        background: transparent;
        display: grid;
        grid-template-columns: 1fr;
        gap: 4px;
        margin-top: 4px;

        .alert-item {
          background: transparent;
          /* background-color: var(--surface-black-5); */
          border: 1px solid #090e13;
          /* box-shadow: var(--surface-inset-shadow); */
          /* box-shadow: inset -1px -1px 4px 6px #00000022, inset 1px 1px 4px 6px #00000022, 1px 1px 5px 2px #00000022, -1px -1px 5px 2px #00000022; */
          cursor: pointer;
          display: grid;
          gap: 10px;
          grid-template-columns: 25% 1fr;
          margin: 0;
          transition: var(--transform-colors-transition);

          &:focus,
          &:focus-visible {
            outline: none;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .alert-icon {
            align-items: center;
            color: var(--accent);
            background: color-mix(in oklch, var(--surface-dark), transparent 50%);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-radius: 4px;
            border-top-right-radius: 0;
            /* box-shadow: var(--surface-inset-shadow); */
            display: flex;
            flex-shrink: 0;
            height: 100%;
            justify-content: center;
            margin-right: 2ch;
            width: 100%;

            svg {
              width: 48px;
              height: 48px;
            }
          }

          .alert-content {
            flex: 1;
            padding: 0lh 0.5ch 1lh 0.5ch;

            .alert-title {
              color: var(--accent);
              font-family: var(--font-4);
              font-size: var(--medium);
              font-weight: 500;
              text-transform: uppercase;
              font-weight: 500;
              padding-top: 0.5lh;

              @container style(--inline-size-lg: var(--breakpoint-lg)) {
                font-size: var(--large);
              }
            }

            .alert-message {
              color: var(--subtle);
              line-height: 1.5cap;
              padding-top: 0;
              margin-top: 0;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

/** ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ᴠɪʀᴛᴜᴀʟSᴛʏʟᴇ.ᴜs━━
* Buttons
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {
  a {
    color: var(--accent-2);
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
  }

  .nav-wrapper {
    position: absolute;

    .header-toggle {
      --line-1: 60 207;
      --line-2: 60 60;
      --line-3: 60 207;
      --line-1o: 0 0;
      --line-2o: 0 0;
      --line-3o: 0 0;

      height: fit-content;
      width: fit-content;
      padding: 0.25lh 0.5ch;
      margin: 0;
      position: fixed;
      bottom: 60px;
      left: 10px;
      z-index: 9;

      @container style(--inline-size-xl: var(--breakpoint-xl)) {
        display: none;
      }

      svg {
        pointer-events: none;
        width: 24px;
        height: 24px;
        margin-left: 0;

        .line {
          fill: none;
          stroke-width: 12;
          transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .line1 {
          stroke-dasharray: var(--line-1);
          stroke-dashoffset: var(--line-1o);
        }

        .line2 {
          stroke-dasharray: var(--line-2);
          stroke-dashoffset: var(--line-2o);
        }

        .line3 {
          stroke-dasharray: var(--line-3);
          stroke-dashoffset: var(--line-3o);
        }
      }

      &.opened {
        --line-1: 90 207;
        --line-2: 1 60;
        --line-3: 90 207;
        --line-1o: -134;
        --line-2o: -30;
        --line-3o: -134;
      }
    }
  }

  .actions {
    font-size: var(--medium);
  }

  .btn {
    align-items: center;
    border-radius: 2px;
    display: flex;
    font-family: var(--font-2);
    font-size: var(--xx-large);
    font-weight: 700;
    justify-content: space-evenly;
    line-height: 1cap;
    padding: 0.5lh 2ch;
    position: relative;
    width: 28ch;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    background-image: linear-gradient(var(--btn-color-base), color-mix(in oklch, var(--btn-color-base), black 15%));
    color: var(--btn-text-color);

    background-color: transparent;
    border-color: transparent;

    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);

    box-shadow: inset 1px 1px 8px 2px #00000066;
    transition: all var(--duration-normal) var(--ease-elastic);

    @container style(--inline-size-sm: var(--breakpoint-sm)) {
      font-size: var(--x-large);
      font-weight: 700;
      width: 34ch;
    }

    /* @container style(--inline-size-md: var(--breakpoint-md)) {
      width: 40ch;
    } */

    @container style(--inline-size-lg: var(--breakpoint-lg)) {
      font-size: var(--x-large);
      /* width: 50ch; */
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-image: linear-gradient(var(--surface-dark), color-mix(in oklch, var(--surface-dark), black 15%));
        box-shadow: 8px 8px 8px 2px #00000066;
        color: var(--btn-text-hover-color);
        border-top-color: rgba(0, 0, 0, 0);
        border-left-color: rgba(0, 0, 0, 0.55);
        border-right-color: rgba(0, 0, 0, 0.55);
        z-index: 10000000002;

        &:after,
        &:before {
          background-image: linear-gradient(rgba(0, 0, 0, 0.25), color-mix(in oklch, var(--accent-2), white 45%), rgba(0, 0, 0, 0.25));
        }
      }

      &:active {
        background-image: linear-gradient(#293443, #181e27);
        box-shadow: inset -8px -8px 8px 2px #00000066;
        color: var(--violet-5);
        outline-color: var(--violet-5);
        border-left-color: rgba(0, 0, 0, 0.85);
        border-right-color: rgba(0, 0, 0, 0.85);
        border-top-color: rgba(0, 0, 0, 75);
        z-index: 10000000003;

        &:after,
        &:before {
          background-image: linear-gradient(rgba(0, 0, 0, 0.25), color-mix(in oklch, var(--violet-5), white 45%), rgba(0, 0, 0, 0.25));
        }
      }
    }

    @media (pointer: coarse) {
      &:hover {
        background-image: linear-gradient(var(--btn-color-base), color-mix(in oklch, var(--btn-color-base), black 15%));
        color: var(--btn-text-color);

        background-color: transparent;
        border-color: transparent;
        box-shadow: 8px 8px 8px 2px #00000066;
        border-top-color: rgba(0, 0, 0, 0);
        border-left-color: rgba(0, 0, 0, 0.55);
        border-right-color: rgba(0, 0, 0, 0.55);
        z-index: 10000000002;

        &:after,
        &:before {
          background-image: linear-gradient(rgba(0, 0, 0, 0.25), color-mix(in oklch, var(--accent-2), white 45%), rgba(0, 0, 0, 0.25));
        }
      }

      &:active {
        transform: scale(0.98);
      }
    }

    &:after,
    &:before {
      background-image: linear-gradient(rgba(0, 0, 0, 0.25), color-mix(in oklch, var(--surface-dark), white 60%), rgba(0, 0, 0, 0.25));
      border-radius: 4px;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 2px;
    }

    &:before {
      left: -4px;
    }

    &:after {
      right: -4px;
    }

    &:focus-visible {
      outline: 3px solid color-mix(in oklch, var(--btn-outline), white 30%)
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    svg {
      position: relative;
      width: 24px;
      height: 24px;
      margin-left: 1ch;
    }

    &.btn-primary {
      --btn-color-base: var(--accent-2);
      --btn-outline: var(--accent-2);
      --btn-hover-base: var(--accent);
      --btn-text-color: var(--contrast-color);
      --btn-text-hover-color: var(--accent-2);
    }

    &.btn-secondary {
      --btn-color-base: var(--primary-dark);
      --btn-outline: var(--accent);
      --btn-hover-base: var(--surface);
      --btn-text-color: var(--heading-color);
      --btn-text-hover-color: var(--accent-2);
    }

    &[type="submit"] {
      margin: auto;
      width: 24ch;

      @container style(--inline-size-md: var(--breakpoint-md)) {
        width: 30ch;
      }
    }
  }
}

/** ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ᴠɪʀᴛᴜᴀʟSᴛʏʟᴇ.ᴜs━━
* Read More  accordion
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {
  details.read-more>summary {
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    display: block;
  }


  details.read-more {
    /* background: var(--surface-black-5); */
    border-radius: 4px;
    counter-reset: item-counter;
    display: grid;
    overflow-y: visible;
    gap: 10px;
    height: 1.5lh;
    line-height: 1;
    list-style: none;
    max-width: 80ch;
    margin: 1lh auto 1lh 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    transition: var(--content-transition);
    box-shadow: var(--surface-inset-shadow);

    &::details-content {
      opacity: 0;
      block-size: 0;
      overflow-y: clip;
      transition: var(--content-transition);
      margin: 2lh 1ch 0.5lh 1ch;
    }

    .copy-wrapper {
      overflow: hidden;
      transition: var(--details-inner-transition);
      padding: 0;
    }

    summary:hover {
      background: var(--accent);
      color: var(--contrast-color);

      svg {
        color: var(--contrast-color);
      }
    }

    &:has(summary:focus-visible),
    &:focus-visible {
      border: none;

      summary {
        outline: var(--focus-ring);
      }
    }

    &[open] {
      height: auto;

      &::details-content {
        opacity: 1;
        block-size: auto;
      }

      summary {

        /* border: 1px solid var(--text-color); */
        .open {
          display: inline !important;
        }

        .closed {
          display: none !important;
        }

        svg {
          transform: rotate(180deg);
        }
      }
    }

    summary {
      align-items: center;
      background: var(--surface-black-5);
      border-radius: 4px;
      box-shadow: var(--surface-inset-shadow);
      display: flex;
      font-size: var(--medium);
      font-weight: 400;
      gap: 2ch;
      height: 1.5lh;
      left: 0;
      line-height: 1;
      list-style: none;
      padding: 1lh 1ch;
      position: absolute;
      right: 0;
      /* top: 0.15lh; */
      transition: var(--transform-colors-transition);

      &::-webkit-details-marker {
        display: none;
      }

      .open {
        display: none !important;
      }

      .closed {
        display: inline !important;
      }

      svg {
        width: 16px;
        height: 16px;
        color: var(--accent-color);
        position: relative;
        top: -1px;
        transition: var(--transform-colors-transition);
      }
    }
  }
}

/** ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ᴠɪʀᴛᴜᴀʟSᴛʏʟᴇ.ᴜs━━
* Footer
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {
  .footer {
    color: var(--text-color);
    background-color: color-mix(in oklch, var(--background-color), black 10%);
    font-size: var(--small);
    text-align: center;
    padding: 2em 0;
    position: relative;
    grid-area: footer;
    padding-bottom: 6lh;

    h3 {
      font-size: var(--x-large);
      font-weight: 300;
      position: relative;
      padding: 0;
      margin: 0 0 15px 0;
    }

    p {
      font-size: var(--small);
      font-style: italic;
      padding: 0;
      margin: 0 auto 30px auto;
      text-align: center;
      color: var(--text);
      font-weight: 300;

      b {
        font-weight: 500;
      }
    }

    .credits {
      font-size: 13px;
      padding-top: 5px;

      a {
        color: color-mix(in oklch, var(--text), transparent 40%);

        &:hover {
          color: var(--accent);
        }
      }
    }
  }
}

/** ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ᴠɪʀᴛᴜᴀʟSᴛʏʟᴇ.ᴜs━━
* Forms
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {
  ::placeholder {
    color: var(--text-color);
  }

  .turnstileWrapper {
    div {
      margin: 1lh auto;
      text-align: center;
    }
  }

  form .container .row .col-lg-6 {
    padding: 0;
  }

  .form-col {
    padding: 0 0.5ch;
  }

  .form-floating>.form-control:not(:placeholder-shown)~label {
    color: var(--text-color) !important;
  }

  .form-floating>.form-control:focus~label {
    color: var(--text-color) !important;
  }

  .form-floating>label {
    color: var(--text-color) !important;
  }

  .form-floating:has(> :required)+*+.form-text::after {
    font-size: var(--large);
    content: " *";
    line-height: 1cap;
    color: var(--accent-2);
    position: relative;
    top: 0.25lh;
    font-weight: 800;
  }

  .form-header {
    margin-bottom: 1lh;
    margin-left: 1ch;

    h3 {
      font-size: var(--xxx-large);
      font-family: var(--font-2);
      color: var(--heading-color);
      margin: 0;
      letter-spacing: 1px;

      b {
        font-weight: 800;
      }
    }

    h4 {
      font-family: var(--font-3);
      font-size: var(--large);
      margin-top: 1lh;
      line-height: 1;
      font-weight: 300;

      b {
        font-weight: 800;
      }
    }
  }

  .form-wrapper {

    @container style(--inline-size-lg: var(--breakpoint-lg)) {
      padding: 0 1ch;
    }

    form {
      margin: 0;
    }

    .form-messages {
      display: none;

      .form-col {
        width: 100%;
        height: 18lh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: inset -5px -5px 7px 8px #00000033;
        padding: 0 2ch;

        .message {
          width: 100%;
          max-width: 50ch;
          margin: auto;

          p {
            font-size: var(--large);
          }

          h2 {
            font-size: var(--xx-large);
            font-family: var(--font-4);
          }

          &.success {
            h2 {
              color: var(--accent);
            }
          }

          &.error {
            display: none;

            h2 {
              color: var(--danger);
            }
          }
        }
      }
    }

    .form-row {
      display: flex;
    }

    .form-text {
      position: relative;
      top: -17px;
      left: 5px;
    }

    .form-group {
      margin-bottom: 1lh;
    }

    textarea,
    input,
    select,
    .form-control {
      width: 100%;
      border: 1px solid color-mix(in srgb, var(--text-color), transparent 85%);
      border-radius: 8px;
      padding: 0.25lh 1ch;
      font-size: var(--medium);
      color: var(--text-color);
      background-color: var(--surface-dark) !important;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      font-family: inherit;

      &:focus-visible {
        outline: none;
        border-color: var(--accent-color);
        box-shadow: 0 0 0 3px color-mix(in srgb, var(--accent-color), transparent 90%);
      }

      &:focus:not(:focus-visible) {
        outline: none;
      }

      &::placeholder {
        color: color-mix(in srgb, var(--text-color), transparent 60%);
      }

    }

    textarea {
      height: 10lh;
    }

    select {
      cursor: pointer;

      option {
        padding: 10px;
      }
    }

    #input-question {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    textarea.form-control {
      resize: vertical;
      min-height: 120px;
      line-height: 1.2;
    }

    input.valid {
      border-color: var(--sucess);
    }

    input.is-invalid {
      border-color: var(--danger);
    }

    label.form-label .invalid {
      display: none;
      color: var(--danger);
    }

    label.form-label .valid {
      display: none;
      color: var(--success);
    }

    label.form-label .hint {
      display: inline;
    }

    label.form-label:has(~ input.is-invalid) {
      label.form-label .invalid {
        display: inline;
      }

      label.form-label .valid {
        display: none;
      }

      label.form-label .hint {
        display: none;
      }
    }

    label.form-label:has(~ input.is-valid) {
      label.form-label .invalid {
        display: none;
      }

      label.form-label .valid {
        display: inline;
      }

      label.form-label .hint {
        display: none;
      }
    }
  }
}

/** ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ᴠɪʀᴛᴜᴀʟSᴛʏʟᴇ.ᴜs━━
* Header
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {
  .menu-wrap {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.4s var(--ease-elastic);
    z-index: 100000;
    transform: translate3d(-200px, 0, 0);
    pointer-events: none;

    @container style(--inline-size-md: var(--breakpoint-md)) {
      width: 300px;
      transform: translate3d(-300px, 0, 0);
    }

    @container style(--inline-size-xl: var(--breakpoint-xl)) {
      pointer-events: revert;
    }

    &.open {
      transform: translate3d(0, 0, 0);
      pointer-events: revert;
    }

    @container style(--inline-size-md: var(--breakpoint-md)) {
      grid-area: header;
      left: 0;
      top: 0;
      transform: translate3d(0, 0, 0);
      width: 300px;
    }
  }

  .suspended {
    transform: translate3d(100px, 0, -600px) rotateY(-20deg);
    transition: transform 0.35s ease-in-out, width 0.35s ease-in-out;
  }

  .morph-shape {
    fill: var(--surface-dark);
    height: 100vh;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    display: none;

    svg {
      height: 100vh;
    }
  }

  #header {
    /* background-blend-mode: darken; */
    /* background: var(--gradient-bg); */
    background-color: color-mix(in oklch, var(--primary-dark), transparent 50%);
    bottom: 0;
    color: var(--text-color);
    height: 100vh;
    left: 0;
    padding: 0 15px;
    padding-bottom: 0.5lh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
    transform: translate3d(-200px, 0, 0);
    transition: transform ease-in-out 0.3s;
    z-index: 9999999;
    box-shadow: var(--section-shadow);
    border-right: 0.5ch solid var(--surface-dark);



    @container style(--inline-size-md: var(--breakpoint-md)) {
      transform: translate3d(-300px, 0, 0);
    }

    &.open {
      transform: translate3d(0, 0, 0);
    }

    @container style(--inline-size-xl: var(--breakpoint-xl)) {
      width: 300px;
      display: flex;
      flex-direction: column;
      font-size: var(--small);
      transform: none;
    }

    &::after {
      background: rgba(0, 0, 0, 0.2);
      content: '';
      height: 100%;
      opacity: 1;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }

    .profile-img {
      img {
        width: 120px;
        height: 120px;
        aspect-ratio: 1;
        border-radius: 20px;
        border: 3px solid var(--surface-dark);
        display: block;
        margin: 25px auto;
        box-shadow: var(--image-inset);

        @container style(--inline-size-md: var(--breakpoint-md)) {
          width: 220px;
          height: 220px;
        }
      }
    }
  }

  .sitename {
    font-family: var(--font-4);
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }

  .headline {
    line-height: 1.1;
    margin-bottom: 1em;
    padding: 0;
    text-align: center;

    span {
      font-weight: bold;
    }
  }
}

/** ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ᴠɪʀᴛᴜᴀʟSᴛʏʟᴇ.ᴜs━━
* Nav menu
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {
  .navmenu {
    padding: 0;
    z-index: 9997;
    width: 100%;
    margin-left: 2.5ch;
    margin-bottom: 5lh;
    position: relative;
    top: 2lh;

    ul {
      list-style: none;
      padding: 0 0 1lh 0;
      margin: 0;
      width: 100%;
    }

    a {
      color: var(--nav-color);
      padding: 0 0.5ch;
      line-height: 1.75;
      font-family: var(--font-3);
      font-weight: 400;
      display: flex;
      align-items: center;
      white-space: nowrap;
      transition: color 0.3s ease;
      width: 100%;
      border-radius: 0.5em;

      @container style(--inline-size-lg: var(--breakpoint-lg)) {
        line-height: 2;
      }

      &:hover,
      &.active {
        color: var(--accent-2);
      }

      &:focus-visible {
        color: var(--accent);
      }

      &:focus:not(:focus-visible) {
        outline: none;
      }

      svg {
        width: 24px;
        height: 24px;
        margin-right: 12px;
      }
    }

    .site-mode {
      display: flex;
      gap: 0.5ch;
      margin-top: 1lh;
      padding-right: 2.5ch;

      a {
        border: var(--border-1-subtle-trans-70);
        justify-content: center;
        line-height: 1.5;
        padding: 0.25lh 0.75ch;
        width: auto;
      }
    }

  }
}

/** ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ᴠɪʀᴛᴜᴀʟSᴛʏʟᴇ.ᴜs━━
* ScrollToTop button
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {
  #scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    height: fit-content;
    width: fit-content;
    padding: 0.5lh 1ch;
    right: 10px;
    bottom: 60px;
    z-index: 99999;
    background-color: var(--accent-color);
    transition: color 0.4s ease, background-color 0.4s ease;

    * {
      pointer-events: none;
    }

    &.active {
      visibility: visible;
      opacity: 1;
      bottom: 60px;
    }

    svg {
      width: 16px;
      height: 16px;
      /* color: var(--contrast-color); */
      line-height: 0;
      margin: 0;
    }
  }
}

/** ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ᴠɪʀᴛᴜᴀʟSᴛʏʟᴇ.ᴜs━━
* Social links
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {
  #header .social-links {
    margin: 0;
    padding: 0 1ch;
    bottom: 0;
    z-index: 9999999999;
  }

  #header .social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    margin: 0 2px;
    border-radius: 9px;
    text-align: center;
    width: 16px;
    height: 16px;
    transition: color 0.3s ease;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  #header .social-links a:hover {
    color: var(--accent-color);
  }

  .footer .social-links {
    margin: 0 0 30px 0;
  }

  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    line-height: 1;
    margin: 0 4px;
    border-radius: 50%;
    text-align: center;
    width: 16px;
    height: 16px;
    transition: color 0.3s ease;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .footer .social-links a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 20%);
    text-decoration: none;
  }
}

/** ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ᴠɪʀᴛᴜᴀʟSᴛʏʟᴇ.ᴜs━━
* Headings and common styles
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
/**
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
* Section headings with segmented partial lines
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {

  .section-heading-alt {
    text-align: center;
    padding: 1lh 2ch;
    position: relative;
    margin: 0 auto;
    max-width: 96vw;
  }

  .section-heading-alt h2:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: color-mix(in srgb, var(--text-color), transparent 60%);
    left: 0;
    right: 0;
    bottom: 1px;
    margin: auto;
  }

  .section-heading-alt h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40%;
    height: 5px;
    background: var(--accent);
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
  }
}

/**
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
* Section headings with varied font sizes
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {


  .primary-heading.hero.two {

    .large {
      font-size: var(--xxxxx-large);
      line-height: 1cap;
    }

    .small.top.two {
      top: 0;
      line-height: 1cap;

      @container style(--inline-size-xl: var(--breakpoint-xl)) {
        top: 0;
      }
    }

    .bottom {
      .large {
        letter-spacing: -2px;
        font-size: calc(var(--xxxxx-large) * 1.15);
      }
    }
  }


  .primary-heading {

    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 0.5lh;
    position: relative;

    .bottom-bar.block.intro {
      --gradient-pct: 100%;
      --bottom-bar-color: #fff;
      --bottom-bar-offset: 5px;

      @container style(--inline-size-xl: var(--breakpoint-xl)) {
        --bottom-bar-offset: 3px;
      }
    }

    &.hero {
      font-size: var(--xx-large);

      @container style(--inline-size-xl: var(--breakpoint-xl)) {
        font-size: var(--xxxx-large);
      }

      .large {
        font-size: calc(var(--xxxxx-large) * 1.25);

        @container style(--inline-size-xl: var(--breakpoint-xl)) {
          font-size: calc(var(--xxxxx-large) * 1.5);
        }
      }

      .small.raise {
        top: -29px;

        @container style(--inline-size-xl: var(--breakpoint-xl)) {
          top: -59px;
        }
      }
    }

    .large {
      font-family: var(--font-4);
      font-weight: 700;
      font-size: var(--xxx-large);
      letter-spacing: -3px;
      text-shadow: 2px 1px 7px rgba(40, 40, 40, 0.67);
      line-height: 1cap;
      position: relative;
      top: -6px;
      text-box: trim-both cap alphabetic;

      @container style(--inline-size-xl: var(--breakpoint-xl)) {
        font-size: var(--xxxx-large);
      }
    }

    .bottom {
      position: relative;
      top: -3px;

      .large {
        position: relative;
        top: 0px;
        line-height: 1cap;
      }
    }

    .small {
      font-family: var(--font-2);
      font-size: var(--xx-large);
      font-weight: 500;
      letter-spacing: 0;
      position: relative;
      line-height: 1cap;
      text-box: trim-both cap alphabetic;

      &.top {
        top: -3px;

        @container style(--inline-size-xl: var(--breakpoint-xl)) {
          top: 3px;
        }
      }

      &.raise {
        top: -4px;

        @container style(--inline-size-xl: var(--breakpoint-xl)) {
          top: -6px;
        }
      }
    }
  }

}

/**
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
* Tags
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {

  .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.15rem;
    margin: 0.5lh 0;

    .tag {
      font-family: var(--font-2);
      background: transparent;
      text-transform: uppercase;
      /* background: color-mix(in oklch, var(--primary), transparent 35%); */
      color: var(--accent-light);
      /* background: color-mix(in oklch, var(--accent), transparent 35%); */
      /* color: var(--contrast-color); */
      padding: 0.1lh 2ch;
      letter-spacing: 1px;
      border-radius: 2em;
      margin: 0.05lh 0.5ch;
      /* box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.5), 0 10px 20px rgba(255, 255, 255, 0.06), inset 0 1px 0 rgba(0, 0, 0, 0.1), 3px 6px 9px rgba(0, 0, 0, 0.3); */
      /* box-shadow: 1px 1px 0px var(--accent),
      2px 2px 0px var(--accent),
      3px 3px 0px var(--accent),
      4px 4px 0px #000000; */
      box-shadow: inset -3px -5px 5px -1px #1f1f1fcc, inset 3px 3px 6px -1px #1f1f1fbb, inset 3px -3px 3px -1px #1f1f1fdd;
      font-size: var(--small);
      font-weight: 500;
      /* border: 1px solid color-mix(in oklch, var(--accent), transparent 90%); */
    }

  }

}

/**
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
* Section & heading icons
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {

  .icon-wrapper {
    width: 64px;
    height: 64px;
    background: color-mix(in srgb, var(--accent-color), transparent 90%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 1.5rem; */
    box-shadow: inset -2px -2px 1px 1px #00000033;
    border: 1px solid var(--darkest);
    margin-right: 1ch;

    svg {
      width: 32px;
      height: 32px;
      color: var(--accent-color);
    }
  }

}

/**
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
* Topic titles and subtitles
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {


  .topic-title {
    font-size: var(--x-large);
    font-weight: 200;
    color: var(--heading-color);
    /* margin-bottom: 0.5lh; */
    font-family: var(--font-4);
    letter-spacing: -1px;
    line-height: 1.25cap;
    text-transform: uppercase;

    &.portfolio-category {
      font-weight: 600;
    }

    b {
      font-weight: 600;
    }
  }

  .topic-subtitle {
    font-family: var(--font-2);
    font-size: var(--xx-large);
    color: var(--info-light-text);
    line-height: 1;
    margin: 0;
    /* font-style: italic; */
    font-weight: 200;

    @container style(--inline-size-lg: var(--breakpoint-lg)) {
      font-size: var(--x-large);
    }
  }


  .heading-logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1ch;
    margin-bottom: 1lh;
    margin-left: 1ch;
    padding: 0;
    padding-top: 0.5lh;
    color: var(--text);
    position: relative;
    top: 0.5lh;
    height: 2lh;

    @container style(--inline-size-xl: var(--breakpoint-xl)) {
      margin-bottom: 4lh;
      padding: lh 0;
    }

    .heading-icon {
      width: 32px;
      height: 32px;
      position: relative;
      top: 5px;

      @container style(--inline-size-sm: var(--breakpoint-sm)) {
        width: 48px;
        height: 48px;
      }

      @container style(--inline-size-xl: var(--breakpoint-xl)) {
        width: 60px;
        height: 60px;
      }
    }

    .site-title-wrap {
      margin: 0;
      padding: 0;
      position: relative;
      top: -0.25lh;

      svg {
        margin-right: 2ch;
        height: 75px;
        width: 75px;
        color: color-mix(in oklch, var(--heading-color), transparent 20%);
      }
    }

    .site-title {
      font-size: var(--xx-large);
      font-weight: 100;
      line-height: 2cap;
      margin: 0;
      padding: 0;

      @container style(--inline-size-xl: var(--breakpoint-xl)) {
        top: 5px;
      }

      b {
        font-weight: 500;
      }

      span {
        line-height: 1cap;
        display: block;
        position: relative;
        top: -6px;
        font-size: var(--large);

        b {
          font-weight: 600;
        }
      }
    }
  }

  .site-title {
    font-size: var(--xx-large);
    font-weight: 100;
    color: color-mix(in oklch, var(--heading-color), transparent 10%);
    margin-bottom: 0.15lh;
    padding: 2lh 0 2lh 0;
    font-family: var(--font-4);
    display: inline-block;
    text-transform: uppercase;
    line-height: 1cap;

    &.about {
      color: var(--text-color);
      padding: 0;

      span {
        line-height: 1.75cap;
      }
    }

    &.header {
      font-size: var(--x-large);
      padding: 0;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      color: var(--text-color);

      span {
        font-size: var(--large);
        line-height: 1.75cap;
      }
    }

    &.footer {
      font-size: var(--xx-large);
      padding: 0;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      color: var(--text-color);

      span {
        font-size: var(--large);
        line-height: 1.75cap;
      }
    }

    b {
      font-weight: 600;
    }

    span {
      font-family: var(--font-2);
      font-size: var(--xx-large);
      color: var(--text-light);
      margin: 0;
      font-weight: 200;
      display: block;

      @container style(--inline-size-lg: var(--breakpoint-lg)) {
        font-size: var(--x-large);
      }

      b {
        font-weight: 600;
      }
    }
  }

}

/**
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
* Primary text container
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {

  .copy-wrapper {
    max-width: 80ch;
    padding: 0;

    @container style(--inline-size-lg: var(--breakpoint-lg)) {
      padding: 0 3ch;
    }

    p:not(.topic-subtitle) {
      margin-bottom: 1lh;
      font-weight: 100;
      font-family: var(--font-3);
      font-size: var(--large);
      color: var(--subtle);


      @container style(--inline-size-lg: var(--breakpoint-lg)) {
        font-size: var(--medium);
      }

      b {
        font-weight: 500;
      }
    }
  }

  .copy-section {
    margin: auto;
    margin-bottom: 2lh;
    padding: 0;


    @container style(--inline-size-md: var(--breakpoint-md)) {
      margin: 0 auto;
    }
  }

}

/**
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
* Gradient bar above text line
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {

  .top-bar {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: var(--top-bar-offset);
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(90deg, var(--top-bar-color), color-mix(in srgb, var(--top-bar-color), transparent 100%) var(--gradient-pct));
    }
  }
}

/**
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
* Gradient bar below text line
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {

  .bottom-bar {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: var(--bottom-bar-offset);
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(90deg, var(--bottom-bar-color), color-mix(in srgb, var(--bottom-bar-color), transparent 100%) var(--gradient-pct));
    }
  }
}

/**
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
* White gradient background clipped with text
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {

  .g-text-white {
    display: block !important;
    background: linear-gradient(90deg, white, color-mix(in oklch, white, transparent 80%) var(--heading-gradient-point));
    background-attachment: fixed;
    background-clip: text;
    color: transparent !important;

    span,
    div {
      padding: 0;
      margin: 0;
      background: inherit;
      background-attachment: fixed;
      background-clip: text;
      color: transparent !important;
    }
  }

}

/**
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
* Green gradient background clipped with text
* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
*/
@layer component {

  .g-text-accent {
    display: block !important;
    background: linear-gradient(90deg, var(--accent-color), color-mix(in oklch, var(--accent-color), transparent 30%) var(--heading-gradient-point));
    background-attachment: fixed;
    background-clip: text;
    color: transparent !important;

    span,
    div {
      padding: 0;
      margin: 0;
      background: inherit;
      background-attachment: fixed;
      background-clip: text;
      color: transparent !important;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--surface-dark) inset !important;
    /* Change #ffffff to your desired background color */
    box-shadow: 0 0 0px 1000px var(--surface-dark) inset !important;
  }

  input:-webkit-autofill,
  input:autofill {
    -webkit-text-fill-color: var(--text) !important;
    /* Change #333333 to your desired text color */
  }

  /* Light Mode - Autofill Styling */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    /* Override Chrome's yellow autofill background using an inset shadow */
    -webkit-box-shadow: 0 0 0 1000px var(--surface-dark) inset !important;
    /* Set the autofilled text color */
    -webkit-text-fill-color: var(--text) !important;

    /* Prevent autofill flash by delaying the transition indefinitely */
    transition: background-color 9999s ease-in-out 0s;

    caret-color: var(--text);
    /* Optional: set caret color to match */
    border-radius: 6px;
    /* Optional: consistent input rounding */
    font-weight: 500;
    /* Make text slightly bolder */
  }
}
