@layer reset, theme, base, layout, component, utility, override;

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

@property --inline-size-xs {
  syntax: "<length-percentage>";
  inherits: true;
  initial-value: 100vi;
}

:root {
  --breakpoint-xs: 28.8rem;
  --breakpoint-sm: 38.4rem;
  --breakpoint-md: 49.6rem;
  --breakpoint-lg: 60rem;
  --breakpoint-xl: 100rem;
  --inline-size-xs: min(var(--breakpoint-xs), 100vi);
}

:root {
  --heading-gradient-point: 20ch;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.is-paused {
  animation-play-state: paused !important;
}

/* Smooth scroll */
:root {
  --doc-thumb-color: #22e7a122;
  scroll-behavior: smooth;
  overflow-anchor: auto;
  scrollbar-gutter: stable;
  scrollbar-width: 0.33rem;
  scrollbar-color: var(--doc-thumb-color) #1f2a3a33;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 0.33rem;
  width: 0.5rem;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #1f2a3a33;
}

::-webkit-scrollbar-thumb {
  background: var(--doc-thumb-color);
  border-radius: 0.33rem;
  /*width: 10px;*/
}

.lg-screen {
  display: none;
}

.sm-screen {
  display: none;
}

.sm-break {
  display: none;
}

.skip-link-container {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 0;
}

.skip-link {
  background: var(--primary);
  color: var(--text);
  font-weight: 700;
  margin: auto;
  padding: 4px;
  position: absolute;
  transform: translateX(-200%);
  z-index:  2147483647;
}

.skip-link:focus {
  transform: translateX(0%);
  box-shadow: 2px 2px 26px var(--primary);
  border: 2px solid var(--primary);
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/


.custom-tooltip {
  background-color: var(--accent-color);
  color: #3f3f3f;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

/* PHP Email Form Messages
------------------------------*/
.php-email-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.php-email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: var(--surface-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--accent-color);
  border-top-color: var(--surface-color);
  animation: php-email-form-loading 1s linear infinite;
}

@keyframes php-email-form-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
