@layer override {
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    *:not(.form-control):not(.form-label):not(.achievement):not(summary):not(.alert-content):not(.expertise-highlight):not(.education-details ul):not(.vs-accordion-content):not(.experience-timeline):not(.tech-item):not(.tech-icon):not(.technologies-section):not(.skill-col):not(.form-col):not(.except) {
      padding: 0;
      margin: 0;
    }
  }

  :root {
    --bs-body-bg: var(--surface-dark);
  }
}
