:root {
  --gradient-bg: radial-gradient(circle at 29% 55%,
  rgba(252,252,252, 0.0075) 0%,
  rgba(252,252,252, 0.0075) 4%,
  transparent 4%,
  transparent 44%,
  transparent 44%,
  transparent 100%),
  radial-gradient(circle at 85% 89%,
  rgba(252,252,252, 0.0075) 0%,
  rgba(252,252,252, 0.0075) 51%,
  transparent 51%,
  transparent 52%,
  transparent 52%,
  transparent 100%),
  radial-gradient(circle at 6% 90%,
  rgba(252,252,252, 0.0075) 0%,
  rgba(252,252,252, 0.0075) 53%,
  transparent 53%,
  transparent 64%,
  transparent 64%,
  transparent 100%),
  radial-gradient(circle at 35% 75%,
  rgba(252,252,252, 0.0075) 0%,
  rgba(252,252,252, 0.0075) 6%,
  transparent 6%,
  transparent 98%,
  transparent 98%,
  transparent 100%),
  radial-gradient(circle at 56% 75%,
  rgba(252,252,252, 0.0075) 0%,
  rgba(252,252,252, 0.0075) 16%,
  transparent 16%,
  transparent 23%,
  transparent 23%,
  transparent 100%),
  radial-gradient(circle at 42% 0%,
  rgba(252,252,252, 0.0075) 0%,
  rgba(252,252,252, 0.0075) 3%,
  transparent 3%,
  transparent 26%,
  transparent 26%,
  transparent 100%),
  radial-gradient(circle at 29% 28%,
  rgba(252,252,252, 0.0075) 0%,
  rgba(252,252,252, 0.0075) 51%,
  transparent 51%,
  transparent 75%,
  transparent 75%,
  transparent 100%),
  radial-gradient(circle at 77% 21%,
  rgba(252,252,252, 0.0075) 0%,
  rgba(252,252,252, 0.0075) 35%,
  transparent 35%,
  transparent 55%,
  transparent 55%,
  transparent 100%),
  radial-gradient(circle at 65% 91%,
  rgba(252,252,252, 0.0075) 0%,
  rgba(252,252,252, 0.0075) 46%,
  transparent 46%,
  transparent 76%,
  transparent 76%,
  transparent 100%),
  linear-gradient(to bottom, #25303fdd 0%,#293341 50%, #25303f77 100%);


  --gradient-bg-0: radial-gradient(circle at 29% 55%,
  rgba(252,252,252, 0.005) 0%,
  rgba(252,252,252, 0.005) 4%,
  transparent 4%,
  transparent 44%,
  transparent 44%,
  transparent 100%),
  radial-gradient(circle at 85% 89%,
  rgba(252,252,252, 0.005) 0%,
  rgba(252,252,252, 0.005) 51%,
  transparent 51%,
  transparent 52%,
  transparent 52%,
  transparent 100%),
  radial-gradient(circle at 6% 90%,
  rgba(252,252,252, 0.005) 0%,
  rgba(252,252,252, 0.005) 53%,
  transparent 53%,
  transparent 64%,
  transparent 64%,
  transparent 100%),
  radial-gradient(circle at 35% 75%,
  rgba(252,252,252, 0.005) 0%,
  rgba(252,252,252, 0.005) 6%,
  transparent 6%,
  transparent 98%,
  transparent 98%,
  transparent 100%),
  radial-gradient(circle at 56% 75%,
  rgba(252,252,252, 0.005) 0%,
  rgba(252,252,252, 0.005) 16%,
  transparent 16%,
  transparent 23%,
  transparent 23%,
  transparent 100%),
  radial-gradient(circle at 42% 0%,
  rgba(252,252,252, 0.005) 0%,
  rgba(252,252,252, 0.005) 3%,
  transparent 3%,
  transparent 26%,
  transparent 26%,
  transparent 100%),
  radial-gradient(circle at 29% 28%,
  rgba(252,252,252, 0.005) 0%,
  rgba(252,252,252, 0.005) 51%,
  transparent 51%,
  transparent 75%,
  transparent 75%,
  transparent 100%),
  radial-gradient(circle at 77% 21%,
  rgba(252,252,252, 0.005) 0%,
  rgba(252,252,252, 0.005) 35%,
  transparent 35%,
  transparent 55%,
  transparent 55%,
  transparent 100%),
  radial-gradient(circle at 65% 91%,
  rgba(252,252,252, 0.005) 0%,
  rgba(252,252,252, 0.005) 46%,
  transparent 46%,
  transparent 76%,
  transparent 76%,
  transparent 100%),
  linear-gradient(to bottom, #25303f 0%,#475c78 50%, #25303f 100%);
  --gradient-bg-2: radial-gradient(circle at 29% 55%,
  rgba(252,252,252, 0.01568627450980392) 0%,
  rgba(252,252,252, 0.01568627450980392) 4%,
  transparent 4%,
  transparent 44%,
  transparent 44%,
  transparent 100%),
  radial-gradient(circle at 85% 89%,
  rgba(252,252,252, 0.01568627450980392) 0%,
  rgba(252,252,252, 0.01568627450980392) 51%,
  transparent 51%,
  transparent 52%,
  transparent 52%,
  transparent 100%),
  radial-gradient(circle at 6% 90%,
  rgba(252,252,252, 0.01568627450980392) 0%,
  rgba(252,252,252, 0.01568627450980392) 53%,
  transparent 53%,
  transparent 64%,
  transparent 64%,
  transparent 100%),
  radial-gradient(circle at 35% 75%,
  rgba(252,252,252, 0.010568627450980392) 0%,
  rgba(252,252,252, 0.010568627450980392) 6%,
  transparent 6%,
  transparent 98%,
  transparent 98%,
  transparent 100%),
  radial-gradient(circle at 56% 75%,
  rgba(252,252,252, 0.010568627450980392) 0%,
  rgba(252,252,252, 0.010568627450980392) 16%,
  transparent 16%,
  transparent 23%,
  transparent 23%,
  transparent 100%),
  radial-gradient(circle at 42% 0%,
  rgba(252,252,252, 0.010568627450980392) 0%,
  rgba(252,252,252, 0.010568627450980392) 3%,
  transparent 3%,
  transparent 26%,
  transparent 26%,
  transparent 100%),
  radial-gradient(circle at 29% 28%,
  rgba(252,252,252, 0.010568627450980392) 0%,
  rgba(252,252,252, 0.010568627450980392) 51%,
  transparent 51%,
  transparent 75%,
  transparent 75%,
  transparent 100%),
  radial-gradient(circle at 77% 21%,
  rgba(252,252,252, 0.010568627450980392) 0%,
  rgba(252,252,252, 0.010568627450980392) 35%,
  transparent 35%,
  transparent 55%,
  transparent 55%,
  transparent 100%),
  radial-gradient(circle at 65% 91%,
  rgba(252,252,252, 0.010568627450980392) 0%,
  rgba(252,252,252, 0.010568627450980392) 46%,
  transparent 46%,
  transparent 76%,
  transparent 76%,
  transparent 100%),
  linear-gradient(to bottom, #293341 0%,#475c78 50%, #293341 100%),
  #1c2737ee;

  --gradient-bg-1: radial-gradient(circle at 29% 55%,
  rgba(252,252,252, 0.012568627450980392) 0%,
  rgba(252,252,252, 0.01568627450980392) 4%,
  transparent 4%,
  transparent 44%,
  transparent 44%,
  transparent 100%),
  radial-gradient(circle at 85% 89%,
  rgba(252,252,252, 0.012568627450980392) 0%,
  rgba(252,252,252, 0.012568627450980392) 51%,
  transparent 51%,
  transparent 52%,
  transparent 52%,
  transparent 100%),
  radial-gradient(circle at 6% 90%,
  rgba(252,252,252, 0.012568627450980392) 0%,
  rgba(252,252,252, 0.012568627450980392) 53%,
  transparent 53%,
  transparent 64%,
  transparent 64%,
  transparent 100%),
  radial-gradient(circle at 35% 75%,
  rgba(252,252,252, 0.012568627450980392) 0%,
  rgba(252,252,252, 0.012568627450980392) 6%,
  transparent 6%,
  transparent 98%,
  transparent 98%,
  transparent 100%),
  radial-gradient(circle at 56% 75%,
  rgba(252,252,252, 0.012568627450980392) 0%,
  rgba(252,252,252, 0.012568627450980392) 16%,
  transparent 16%,
  transparent 23%,
  transparent 23%,
  transparent 100%),
  radial-gradient(circle at 42% 0%,
  rgba(252,252,252, 0.012568627450980392) 0%,
  rgba(252,252,252, 0.012568627450980392) 3%,
  transparent 3%,
  transparent 26%,
  transparent 26%,
  transparent 100%),
  radial-gradient(circle at 29% 28%,
  rgba(252,252,252, 0.012568627450980392) 0%,
  rgba(252,252,252, 0.012568627450980392) 51%,
  transparent 51%,
  transparent 75%,
  transparent 75%,
  transparent 100%),
  radial-gradient(circle at 77% 21%,
  rgba(252,252,252, 0.012568627450980392) 0%,
  rgba(252,252,252, 0.012568627450980392) 35%,
  transparent 35%,
  transparent 55%,
  transparent 55%,
  transparent 100%),
  radial-gradient(circle at 65% 91%,
  rgba(252,252,252, 0.012568627450980392) 0%,
  rgba(252,252,252, 0.012568627450980392) 46%,
  transparent 46%,
  transparent 76%,
  transparent 76%,
  transparent 100%),
  linear-gradient(to bottom, #0e141c 0%,#141c28 50%, #0e141c 100%),
  var(--background-color);
}
