

.cap-1 {
  font-size: 56px;
  line-height: 44px;

  &::before {
    content: "";
    margin-bottom: -0.0219em;
    display: table;
  }

  &::after {
    content: "";
    margin-top: -0.0492em;
    display: table;
  }
}

.cap-2 {
  font-size: 44px;
  line-height: 35px;

  &::before {
    content: "";
    margin-bottom: -0.0322em;
    display: table;
  }

  &::after {
    content: "";
    margin-top: -0.0595em;
    display: table;
  }
}
