body {
  background-attachment: fixed;
  margin: 0px;
  margin-bottom: 200px;
  background-image: url(./bg.png);
  font-size: 1.5rem;
  font-family: Tahoma, sans-serif, serif;
  background-color: #001122;
  color: #FFFFFF;
}

a:link {
  color: #556677;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #556677;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

a:active {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

#mainbox a:link {
  color: #8899AA;
  text-decoration: none;
  font-weight: bold;
}

#mainbox a:visited {
  color: #8899AA;
  text-decoration: none;
  font-weight: bold;
}

#mainbox a:hover {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

#mainbox a:active {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}

p {
  width: 80ch;
  color: #FFFFFF;
  margin: 10px 20px;
  margin-top: 1.5lh;
  font-size: 1.5rem;
}

h1 {
  color: #FFFFFF;
  margin: 10px;
  font-weight: normal;
  font-size: 2rem;
}

h1.two {
  margin-left: 50px;
}

h3 {
  font-family: Comic Sans MS;
  font-style: italic;
  color: #FFFFFF;
  margin: 20px 5px 10px 5px;
  font-weight: normal;
  font-size: 1.75rem;
}

h5 {
  color: #FFFFFF;
  margin: 5px 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

#mainbox {
  width: 80ch;
  margin: 0px auto 0px auto;
  background-color: #334455;
}

img {
  border: 0px solid #FFFFFF;
}

#headercell {
  background-color: #112233;
}

td {
  padding: 0px;
}

pre {
  margin-left: 50px;
  color: #FFFFFF;
  font-family: Tahoma, sans serif;
}

html {
  scrollbar-arrow-color: #FFFFFF;
  scrollbar-track-color: #112233;
  scrollbar-base-color: #334455;
  scrollbar-highlight-color: #CCCCCC;
  scrollbar-shadow-color: #AAAAAA;
}

span {
  color: #556677;
  font-size: 3.3rem;
  font-style: italic;
  font-weight: bold;
  font-family: Comic Sans MS;
}

hr {
  margin: 0px;
  color: #556677;
}

ul {
  margin: 0;
  padding-left: 3ch;
  width: 80ch;
  list-style-type: circle;
}

li {
  margin: 8px auto;
}

#mainbox hr {
  margin: 0px;
  color: #112233;
}

.button {
  padding: 15px;
  width: 520px;
  margin: 100px auto 5px auto;
  text-align: center;
}
