---
id: testimonials
displayOrder: 7
tags:
  - sections
permalink: /testimonials.html
layout: section.html
curnav: testimonials
---
{% import "../include/page-components/headings.html" as insert %}
{% import "../include/page-components/testimonial.html" as gen %}
<section id="testimonials">

    <div class="container">

      <div class="section-heading-alt testimonials-1">
        {{insert.pageHeading("", "Recommendations", "", "", "References & Testimonials")}}
      </div>

      <div class="testimonials-slider swiper testimonials-2">
        <div class="gallery">
          <ul class="cards">

          {% for item in testimonials %}
            <li class="card">
            {{ gen.testimonial(item.name, item.position, item.company, item.testimonial, item.avatar) }}
            </li>
          {% endfor %}

          </ul>

        </div>

      </div>

        <div class="swiper-navigation-wrapper">
          <button class="btn btn-secondary slide-btn prev-testimonial"  aria-label="Previous testimonial">
            {% icon "arrow-left", '{ "width": "24", "height": "24" }' %}
          </button>
          <button class="btn btn-secondary slide-btn next-testimonial"  aria-label="Next testimonial">
            {% icon "arrow-right", '{ "width": "24", "height": "24" }' %}
          </button>
        </div>

        <div class="swiper-pagination">
          {% for item in testimonials %}
            <span class="swiper-pagination-bullet">
            </span>
          {% endfor %}
        </div>

    </div>

</section>
