{% set currentSection = curnav or active or "home" %}
{% set isSinglePage = page.url == "/" or page.url == "/index.html" %}
{% set singlePageUrl = "/index.html#" + currentSection %}
{% set multiPageUrl = "/" + currentSection + ".html" %}
{% set navItems = [
  {
    "id": "home",
    "label": "Home",
    "icon": "home",
    "url": "/home.html"
  },
  {
    "id": "about",
    "label": "About",
    "icon": "about",
    "url": "/about.html"
  },
  {
    "id": "stats",
    "label": "Stats",
    "icon": "stats",
    "url": "/stats.html"
  },
  {
    "id": "skills",
    "label": "Skills",
    "icon": "skills",
    "url": "/skills.html"
  },
  {
    "id": "resume",
    "label": "Resume",
    "icon": "resume",
    "url": "/resume.html"
  },
  {
    "id": "portfolio",
    "label": "Portfolio",
    "icon": "portfolio",
    "url": "/portfolio.html"
  },
  {
    "id": "testimonials",
    "label": "Testimonials",
    "icon": "testimonials",
    "url": "/testimonials.html"
  },
  {
    "id": "contact",
    "label": "Contact",
    "icon": "contact",
    "url": "/contact.html"
  }
] %}
<nav id="navmenu" class="navmenu menu">
  <ul>
    {% for item in navItems %}
    <li>
      <a id="{{ item.id }}-link" href="{% if isSinglePage %}#{{ item.id }}{% else %}{{ item.url }}{% endif %}" class="{% if currentSection == item.id %}active{% endif  %}">
        {% icon item.icon, '{ "width": "24", "height": "24" }' %} {{ item.label }}
      </a>
    </li>
    {% endfor %}
    <!-- <li class="site-mode" aria-label="Site version">
      <a href="{{ singlePageUrl }}" class="{% if isSinglePage %}active{% endif %}">
        Single Page
      </a>
      <a href="{{ multiPageUrl }}" class="{% if not isSinglePage %}active{% endif %}">
        Multi Page
      </a>
    </li> -->
  </ul>
</nav>
